#include <winresrc.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Ncompass Browser Restoration Project"
            VALUE "FileDescription", "Hello OLE Control - historical browser demo control"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "HelloOleControl"
            VALUE "LegalCopyright", "Public domain demo control"
            VALUE "OriginalFilename", "HelloOleControl.ocx"
            VALUE "ProductName", "Hello OLE Control"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
